build/
syntax: glob
CMakeFiles*
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CPack*
CTest*
Makefile
docs/
TAGS
.DS_Store
.cproject
.project
bin/
lib/
*.cmake
*.orig
*.obj
*.idb
*.pdb
*.ncb
*.suo
*.htm
*.user
*.dep
*.manifest
*.rsp
*.a
*.so
tabEmpty
tabTemplate
